.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 14vh 10vh 70vh;
  text-align: center;
  margin: 0 auto;
  color: white;
  grid-gap: 20px 20px;
  font-size: 1rem;
  font-family: 'Montserrat';
}

.effects{

}

.titlebar {
  text-align: center;
  background-color: black;
  grid-column: 1 / 4;
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 30px;
  word-wrap: break-word;

}

.colname1 {
  background-color: #F7D1CD;
  grid-column: 1;
  grid-row: 2;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.45);
  font-size: 1.2em
}

.colname2 {
  background-color: #F7D1CD;
  grid-column: 2;
  grid-row: 2;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.45);
  font-size: 1.2em;
}

.colname3 {
  background-color: #F7D1CD;
  grid-column: 3;
  grid-row: 2;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.45);
  font-size: 1.2em;
}

.col1 {
  background-color: #F7D1CD;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.45);
  font-size: 1em;
}

.col2 {
  background-color: #F7D1CD;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.45);
  font-size: 1em;
}

.col3 {
  background-color: #F7D1CD;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.45);
  font-size: 1em;
}

body{
  background-color: #e9e9e9;
}

ul{
  list-style-type: none;
}

li{
  display: block;
  padding: 15px;
  color: rgb(103, 103, 103);
}
