.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12vh 40vh 40vh;
  text-align: center;
  margin: 0 auto;
  color: white;
  grid-gap: 20px 20px;
}


.titlebar {
  background-color: black;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
}

#logo {
  position: absolute;
  top: 0px;
  left: 15px;
  height: 100px;
  width: 150px;
}

.music {
  background-color: white;
  opacity: 1.0;
  width: 100%;
  height: 100%;
}

.music:hover {
  opacity: 0.5;
}


.movie {
  background-color: white;
  opacity: 1.0;
  width: 100%;
  height: 100%;
}

.movie:hover {
  opacity: 0.5;
}

.game {
  background-color: white;
  opacity: 1.0;
  width: 100%;
  height: 100%;
}

.game:hover {
  opacity: 0.5;
}

.book {
  background-color: white;
  opacity: 1.0;
  width: 100%;
  height: 100%;
}

.book:hover {
  opacity: 0.5;
}

body {
  background-color: white;
}

.effects{
  box-shadow: 3px 4px 2px rgba(0,0,0,0.4);
}

.effects{
  box-shadow: 3px 4px 2px rgba(0,0,0,0.4);
}
