<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="aboutstyle.css">
  <title>The Creators</title>
</head>

<body>
  <div class="gridcontainer">


    <div class="aboutheader">
      <h1>Trendz</h1>
      <!-- name on left side and about us on the right -->
    </div>

    <div class="name1">
      <p>Adrian</p>
    </div>

    <div class="hover1">

    </div>

    <div class="name2">
      <p>Veronica</p>
    </div>

    <div class="hover2">

    </div>

    <div class="name3">
      <p>Roman</p>
    </div>

    <div class="hover3">

    </div>

    <div class="name4">
      <p>Thao</p>
    </div>

    <div class="hover4">

    </div>

    <div class="name5">
      <p>Darshan</p>
    </div>

    <div class="hover5">

    </div>

  </div>
</body>

</html>
