<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/aboutstyle.css">
  <title>The Creators</title>
</head>

<body>
  <div class="gridcontainer" id="gridbg">

    <h1>About Us</h1>

    <div class="aboutheader">
      <a href="/home"><img class="home" src="../images/white.jpg"></a>
    </div>

    <div class="name1">
      <p class="name">Adrian</p>
      <p>  Instagram: dsljar
          Snapchat: adrianr99
          Linkedin: john-adrian-resubal-1b4487133</p>
    </div>

    <div class="social1">

    </div>

    <div class="name2">
      <p class="name">Veronica</p>
      <p> Instagram: Verily_Veronica
          Snapchat:Verily_Veronica
          Linkedin: Veronica Ung</p>
    </div>

    <div class="social2">
    </div>

    <div class="name3">
      <p class="name">Roman</p>
      <p> Instagram: ro.man_32
          Snapchat: romangonzo13
          Linkedin: Roman Gonzalez
      </p>
    </div>

    <div class="social3">

    </div>

    <div class="name4">
      <p class="name">Thao</p>
      <p>Instagram: Thaophung7
         Snapchat: Thaophung7
         Linkedin: Thoa Phung</p>
    </div>

    <div class="social4">

    </div>

    <div class="name5">
      <p class="name">Darshan</p>
      <p>Instagram: Darshan.j_
         Linkedin: Darshan Jeganathan</p>
    </div>

    <div class="social5">

    </div>

  </div>
</body>

</html>
