<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/aboutstyle.css">
  <title>The Creators</title>
</head>

<body>
  <div class="gridcontainer" id="gridbg">

    <h1>About Us</h1>

    <div class="aboutheader">
      <a href="/home"><img class="home" src="../images/white.jpg"></a>
    </div>

    <div class="name1">
      <p class="name">Adrian</p>
    </div>

    <div class="hover1"> Instagram: dsljar
      Snapchat: adrianr99
      Linkedin: john-adruan-resubal-1b4487133

    </div>

    <div class="name2">
      <p class="name">Veronica</p>
    </div>

    <div class="hover2">Instagam: Verily_Veronica
      Snapchat:verily_

    </div>

    <div class="name3">
      <p class="name">Roman</p>
    </div>

    <div class="hover3">

    </div>

    <div class="name4">
      <p class="name">Thao</p>
    </div>

    <div class="hover4">

    </div>

    <div class="name5">
      <p class="name">Darshan</p>
    </div>

    <div class="hover5">

    </div>

  </div>
</body>

</html>
