<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/content.css">
  <title>Content Page1</title>
</head>

<body>
  <div class="container">
    <div class="titlebar">
      <h1>Book</h1>
    </div>

    <div class="colname1">
      <h3>Top Books</h3>
    </div>

    <div class="col1 effects">
      <ul>
        {% for item in elements1 %}
          <li> {{item}} </li>
        {% endfor %}
      </ul>
    </div>

    <!-- column2 -->

    <div class="colname2">
      <h3>Top U.S.</h3>
    </div>

    <div class="col2 effects">
      <ul>
        {% for item in elements2 %}
          <li> {{item}} </li>
        {% endfor %}
      </ul>
    </div>

    <!-- column3  -->

    <div class="colname3">
      <h3>Authors</h3>
    </div>


    <div class="col3 effects">
      <ul>
        {% for item in elements3 %}
          <li> {{item}} </li>
        {% endfor %}
      </ul>
    </div>


  </div>
</body>

</html>
