<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DataDev</title>
</head>
<body>
  <form class="data" action="/datadev" method="post">
    
    <input type="text" name="category" placeholder="category">
    <br>
    <input type="number" name="ranking" placeholder="ranking">
    <br>
    <input type="text" name="title" placeholder="title">
    <br>
    <input type="text" name="info" placeholder="info">
    <br>
    <input type="text" name="imgsrc" placeholder="optional image link" value="na">
    <br>
    <button type="submit" name="button">Submit</button>
  </form>



</body>
</html>
