<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/content.css">
  <title>Content Page1</title>
</head>

<body>
  <div class="container">
    <div class="titlebar">
      <h1>Game</h1>
    </div>

    <div class="colname1">
      <h3>col1</h3>
    </div>

    <div class="colname2">
      <h3>col2</h3>
    </div>

    <div class="colname3">
      <h3>col3</h3>
    </div>

    <div class="col1">
    </div>

    <div class="col2">

    </div>

    <div class="col3">

    </div>


  </div>
</body>

</html>
