<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style/style.css">
  <title>Cheezcake</title>
</head>

<body>

  <div class="grid-container">

    <div class="titlebar">
      <h1>Trendz</h1>
      <header class="title">
      </header>
      <div class="about us">
        <a href="/aboutus">About us</a>
      </div>
    </div>

    <a class="box1" href="/aboutus"></a>
    <a class="box2" href="/aboutus"></a>
    <a class="box3" href="/aboutus"></a>
    <a class="box4" href="/aboutus"></a>

  </div>

</body>

</html>

<!-- <iframe scrolling="no" style="border:none;" width="250" height="413" src="https://trends.google.com/trends/topcharts/widget?cid=films&geo=US&date=201803&vm=trendingchart&h=413"></iframe> -->
