<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/content.css">
  <title>Content Page1</title>
</head>

<body>
  <div class="container">
    <div class="titlebar">
      <h1>Music</h1>
    </div>

    <!-- column1 -->

    <div class="colname1">
      <h3>Top 10 Hits</h3>
    </div>

    <div class="col1">
        {% for item in elements1 %}
          <li> {{item}} </li>
        {% endfor %}
    </div>

    <!-- column2 -->

    <div class="colname2">
      <h3>{{col2}}</h3>
    </div>

    <div class="col2">
      <ol>
        <li>{{c2i1}}</li>
        <li>{{c2i2}}</li>
        <li>{{c2i3}}</li>
        <li>{{c2i4}}</li>
        <li>{{c2i5}}</li>
        <li>{{c2i6}}</li>
        <li>{{c2i7}}</li>
        <li>{{c2i8}}</li>
        <li>{{c2i9}}</li>
        <li>{{c2i10}}</li>
      </ol>
    </div>

    <!--     generate list
    {% for i in test %}
    <h1> {{i}} </h1>
    {% endfor %}
   -->

    <!-- column3  -->

    <div class="colname3">
      <h3>{{col3}}</h3>
    </div>


    <div class="col3">
      <ol>
        <li>{{c3i1}}</li>
        <li>{{c3i2}}</li>
        <li>{{c3i3}}</li>
        <li>{{c3i4}}</li>
        <li>{{c3i5}}</li>
        <li>{{c3i6}}</li>
        <li>{{c3i7}}</li>
        <li>{{c3i8}}</li>
        <li>{{c3i9}}</li>
        <li>{{c3i10}}</li>
      </ol>
    </div>


  </div>
</body>

</html>
