.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12vh 40vh 40vh;
<<<<<<< HEAD
  text-align: center;
  margin: 0 auto;
=======
	text-align: center;
	margin: 0 auto;
>>>>>>> c95ed949817207528ff2bc1f009423e693490927
  color: black;
  grid-gap: 20px 20px;
}

.titlebar {
  /* grid-column-start: 1;
  grid-column-end: 3 */
  grid-column: 1 / 3;
  background-color: white;
}

.box1 {
  background-color: #F7D1CD;
}

.box2 {
  background-color: #E8C2CA;
}

.box3 {
  background-color: #D1B3C4;
}

.box4 {
  background-color: #B392AC;
}

body {
  background-color: #CDF7EA;
}
